<section class="content">
    <div class="container">
       <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="card">
                <div class="header">
                   <h2><strong>{{ pageTitle }}</strong></h2>
                </div>
                <form #f="ngForm" (ngSubmit)="save()">
                   <div class="body">
                      <div class="row clearfix">
                         <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                               <input type="text" class="form-control" placeholder="Nome" name="name" [(ngModel)]="song.name"/>
                            </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-12">
                           <div class="form-group">
                             <input type="text" class="form-control" placeholder="Descrição" name="description" [(ngModel)]="song.description"/>
                           </div>
                         </div>
                      </div>
                      <div class="row clearfix">
                         <div class="col-lg-4 col-md-4 col-sm-6">
                             <button type="button" class="btn btn-default"
                             (click)="redirectListSongs()" replaceUrl="true">Voltar</button>
                             <button type="submit" class="btn btn-primary">Salvar</button>
                         </div>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
  </section>
  