<div class="authentication">
  <div class="container">
      <div class="col-md-12 content-center">
      <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
              <div class="company_detail">
                  <h4 class="logo"><img src="assets/images/logo.svg" alt=""> PetShop</h4>
                  <h3>PÁGINA NÃO ENC<i class="zmdi zmdi-mood-bad"></i>NTRADA</h3>
                  <p>Nós nã pudemos encontrar a página que você estava a procura.</p>
                  <div class="footer">
                      <hr>
                      <ul>
                          <li><a routerLink="/">Dashboard</a></li>
                          <li><a routerLink="/animais">Animais</a></li>
                          <li><a routerLink="/especies">Espécies</a></li>
                      </ul>
                  </div>
              </div>
          </div>                        
          <div class="col-lg-5 col-md-12 offset-lg-1">
              <div class="card-plain">
                  <div class="header">
                      <h5>Error 404</h5>
                      <span>Página não encontrada</span>
                  </div>
                  <div class="footer">
                      <a routerLink="" class="btn btn-primary btn-round btn-block">Voltar ao início</a>                            
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
  <div id="particles-js"></div>
</div>