<aside id="leftsidebar" class="sidebar h_menu">
  <div class="container">
    <div class="row clearfix">
      <div class="col-12">
        <div class="menu">
          <ul class="list">
            <li routerLinkActive="active open"><a routerLink="dashboard"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
            <li routerLinkActive="active open"><a routerLink="animais" href="javascript:void(0);" class="menu-toggle"><i class="icon-grid"></i><span>Animais</span></a>
              <ul class="ml-menu">
                <li><a routerLink="animais">Pesquisar</a></li>
                <li><a routerLink="animais/novo">Cadastrar</a></li>
              </ul>
            </li>
            <li routerLinkActive="active open"><a routerLink="especies" class="menu-toggle"><i
              class="icon-layers"></i><span>Espécies</span></a>
              <ul class="ml-menu">
                <li><a routerLink="especies">Pesquisar</a></li>
                <li><a routerLink="especies/novo">Cadastrar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>
