<aside id="leftsidebar" class="sidebar h_menu">
  <div class="container">
    <div class="row clearfix">
      <div class="col-12">
        <div class="menu">
          <ul class="list">
            <li routerLinkActive="active open"><a routerLink="dashboard"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
            <li routerLinkActive="active open">
              <a routerLink="musicas" href="javascript:void(0);" class="menu-toggle"><i class="icon-grid"></i>
                <span>Músicas</span>
              </a>
              <ul class="ml-menu">
                <li><a routerLink="musicas">Pesquisar</a></li>
                <li><a routerLink="musicas/nova">Cadastrar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>
